.codeContainer {
    display: flex;
    align-self: center;
    /* width: 65rem; */
    width: 36rem;
    height: 20rem;
    /* margin-right: 10%; */
    /* margin-bottom: 5rem; */
    border-radius: 0.25rem;
    border-width: 2px;
    border-style: solid;
    border-color: #222f48;
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.codeHeader {
    display: flex;
}

.mockControls {
    display: flex;
    width: 15rem;
    height: 3.5rem;
    margin-left: .35rem;
}

.mockWindowControl {
    width: .75rem;
    height: .75rem;
    margin-top: 1.5rem;
    margin-left: .4rem;
    border-radius: 0.75rem;
}

.mockControlClose {
    background-color: rgba(239, 68, 68, 1);;
}

.mockControlMin {
    background-color: rgba(245, 158, 11, 1);;
}

.mockControlMax {
    background-color: rgba(16, 185, 129, 1);;
}