html {
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #0a192f;
    color: #edf2ff;
    background-image: linear-gradient(rgb(28, 21, 60) 27%, rgb(45, 31, 102));
    margin: 0px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    min-height: 100%;
    font-size: 18px;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

ol {
    list-style: none;
}

ol li {
    display: list-item;
}

ol li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: none;
    color: inherit;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

*,
::before,
::after {
    box-sizing: inherit;
}

::selection {
    background-color: #7a5eab;
    color: #ccd6f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px 0px 10px;
    font-weight: 700;
    color: #ccd6f6;
    line-height: 1.3;
}

p>a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: rgb(204 161 255);
}

p>a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: rgb(204 161 255);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

img,
video {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
}

ul {
    list-style: none;
}

* {
    scrollbar-width: auto;
    scrollbar-color: rgb(82 63 152) #ffffff;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: linear-gradient(rgb(28, 21, 60) 27%, rgb(45, 31, 102));
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(82 63 152);
    border-radius: 10px;
}