@keyframes hamburgerOpen {
    from {
        height: 0;
    }

    to {
        height: 100vh;
    }
}

.hamburgerContainer {
    display: none;
}

.hamburgerContainer span {
    display: block;
    margin-top: 0.25rem;
    width: 2rem;
    height: 2px;
    background-color: rgb(113, 86, 217);
}

@media screen and (max-width: 930px) {
    .hamburgerContainer {
        display: block;
    }

    .hamburgerClose {
        z-index: 101;
        transform: rotate(180deg);
    }

    .hamburgerClose span:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburgerClose span:nth-child(2){
        opacity: 0;
    }
    .hamburgerClose span:nth-child(3){
        transform: rotate(-45deg) translate(4px, -4px);
    }

    .hamburgerMenu {
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        background-color: rgb(113, 86, 217);
        opacity: 0.75;
        overflow:hidden;
        animation: hamburgerOpen 0.175s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}