@keyframes hamburgerOpen {
    from {
        height: 0;
    }

    to {
        height: 100vh;
    }
}

.hamburgerContainer {
    display: none;
}

.hamburgerContainer span {
    display: block;
    width: 2rem;
    height: 3px;
    margin-top: 0.25rem;
    background-color: rgb(113, 86, 217);
    transition: all 100ms ease-in-out;
}

@media screen and (max-width: 930px) {
    .hamburgerContainer {
        display: block;
    }

    .hamburgerClose {
        z-index: 101;
    }

    .hamburgerClose span:nth-of-type(1) {
        transition: all 100ms ease-in-out;
        transform: rotate(45deg);
        transform-origin: top left;
        width: 22px;
    }

    .hamburgerClose span:nth-of-type(2) {
        transition: all 100ms ease-in-out;
        transform-origin: center;
        width: 0;
    }

    .hamburgerClose span:nth-of-type(3) {
        transition: all 100ms ease-in-out;
        transform: rotate(-45deg);
        transform-origin: bottom left;
        width: 22px;
    }

    .hamburgerClose span {
        background-color: #fff;
    }

    .hamburgerMenu {
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        background-color: rgb(113, 86, 217);
        opacity: 0.75;
        overflow: hidden;
        animation: hamburgerOpen 0.175s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}