.navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    padding: 0px 50px;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    transition: all 0.2s cubic-bezier(.17,.67,.83,.67); 
}

.navHeaderScrolling {
    box-shadow: 0 10px 30px -10px #0c0d10;
}

.navHeaderScrolled {
    height: 0px;
    opacity: 0;
}

.nav {
    counter-reset: item 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    position: relative;
    width: 100%;
    color: #ccd6f6;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.navList ol {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.navItemContainer {
    margin: 0px 5px;
    position: relative;
    font-size: 14px;
}

.navItemContainer a {
    padding: 14px;
}

.navItemContainer a::before {
    margin-right: 5px;
    color: rgb(204 161 255);
    font-size: 12px;
    text-align: right;
}

.navItemContainer:hover {
    color: rgb(204 161 255);
}

@media screen and (max-width: 1240px) {
    .navItemContainer {
        font-size: 14px;
    }
}

@media screen and (max-width: 930px) {
    .navList {
        display: none;
    }

    .navHeader {
        padding: 0 35px;
        height: 70px;
        z-index: 1000;
    }

    .navItemContainer {
        font-size: 12px;
    }
}