.projSection {
    padding: 100px 0px;
}

.projContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}

.projHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.projHeader::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: rgb(113, 86, 217);
}

.projHeader>h2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;
}

.projItemContainer {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    max-width: 900px;
    max-height: 362px;
    width: 100%;
    height: 100%;
}

.projItem {
    display: flex;
    max-width: 579px;
    max-height: 362px;
    width: 100%;
    height: 100%;
}

.projItemWrapper {
    display: flex;
    max-width: 579px;
    max-height: 362px;
    width: 100%;
    height: 100%;
}

.projItemWrapper>a {
    width: 100%;
    height: 100%;
    background-color: rgb(113, 86, 217);
    vertical-align: middle;
    z-index: 1;
}

.projItemImg {
    height: 100%;
    margin: 0;
    max-width: fit-content;
    padding: 0;
    position: absolute;
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
}


.projList {
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.projVisible {
    display: none;
}

.projItem {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.projTab {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    border-left: 2px solid #edf2ff;
    background-color: transparent;
    color: #edf2ff;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    outline: none;
}

.projTabSelected {
    color: rgb(204 161 255);
    border-left: 2px solid rgb(204 161 255);
}

.projCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 5rem;
}

.projCard {
    box-shadow: 0 10px 30px -15px rgb(0, 0, 0);
    position: absolute;
    margin-top: 5rem;
    z-index: 2;
    border-radius: 4px;
    background-color: rgb(113, 86, 217);
    color: #edf2ff;
    font-size: 16px;
    width: 25rem;
    padding: 1rem;
    text-align: right;
}

.projCardHeader {
    color: #edf2ff;
    font-size: clamp(24px, 5vw, 28px);
    position: absolute;
    margin-bottom: 10rem;
    width: 25rem;
    text-align: right;
}

.projTechnologies {
    display: flex;
    position: relative;
    z-index: 2;
    margin-top: 250px;
    padding: 0px;
    list-style: none;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.projTechnologies>li {
    margin: 0px 0px 5px 20px;
    color: rgb(238 234 255);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 14px;
    white-space: nowrap;
}

.projItemWrapper>span {
    width: 450px;
    height: 318px;
    position: relative;
}

.projItemWrapper>span:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projItemOverlay {
    background-color: rgb(113, 86, 217);
    border-radius: 4px;
    position: absolute;
    opacity: 0.6;
    transition: opacity 0.15s;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.projItemOverlay:hover {
    position: absolute;
    opacity: 0;
    /* transition: opacity 1s;
    transition-timing-function: (.17,.67,.83,.67); */
}

.projScroller {
    display: none;
    width: 100%;
    height: 10px;
}

.projScroller span {
    bottom: 0;
    height: 3px;
    background-color: rgb(113, 0, 252);
    border-radius: 4px;
}

.projSelected {
    display: block !important;
    background-color: rgb(204 161 255) !important;
}

.projScrollItem {
    width: 50%;
}

@media screen and (max-width: 900px) {

    .projScroller {
        display: flex;
    }

    .projContainer {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: none;
    }

    .projHeader {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .projHeader::after {
        content: none;
    }

    .projItemContainer {
        -webkit-box-pack: none;
        -ms-flex-pack: none;
        justify-content: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: none;
        width: auto;
        -webkit-flex: 0;
        flex-shrink: 0;
    }

    .projCardContainer {
        /* justify-content: flex-start; */
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        -webkit-flex: 0;
        flex-shrink: 0;
        top: 40%;
    }

    .projItemWrapper,
    .projItem {
        max-width: none;
        max-height: none;

    }

    .projItemWrapper>span {
        width: 300px;
        height: 218px;
    }

    .projCardHeader {
        position: absolute;
        top: -25%;
        font-size: 20px;
        text-align: center;
        -webkit-flex: 0;
        flex-shrink: 0;
        margin-bottom: 0;
        white-space: nowrap;
    }

    .projCard {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        /* align-items: center; */
        width: 18rem;
        /* height: 5rem; */
        font-size: 14px;
        text-align: center;
        -webkit-flex: 0;
        flex-shrink: 0;
        margin: 0;

    }

    .projItemOverlay {
        opacity: 0.85;
    }

    .projList {
        display: none;
    }

    .projTechnologies {
        /* margin-top: 10rem; */
        margin-top: 0;
    }
}