.projContainer {
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}

.projHeader { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}
.projHeader::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: rgb(113, 86, 217);
}

.projHeader > h2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    /* width: 100%; */
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
}